:root {
  --text-primary: #f1f1f1;
  --text-secondary: #c0cac9;
  --text-contrast: #606f6f;

  --bg-primary: #001514;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FC-Bold";
}

/* header{} */

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 1rem;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  list-style-type: none;
  cursor: pointer;
  user-select: none;
  line-height: 0.9;
}

.link-content {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.link .link-text + .link-text {
  pointer-events: none;
  left: 0;
  top: 0;
}

.link-text {
  position: relative;
  font-size: 1.3rem;
  color: var(--text-secondary);
  text-align: center;
  line-height: 1.2rem;
}

.link-logo {
  list-style-type: none;
}

.link-logo img {
  height: 1.5rem;
}

#section-1 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--bg-primary);
}

.hero-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.hero-title-wrapper h1 {
  text-align: center;
  line-height: 1;
  font-size: 7rem;
  color: var(--text-primary);
}

.hero-information-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.hero-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-info .caption-mini{
  line-height: 1;
  color: var(--text-primary);
  opacity: .6;
}

.hero-info .caption-big{
  color: var(--text-primary);
  font-size: 1.5rem;
}

.hero-video-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.hero-video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}