:root {
  --text-primary: #f1f1f1;
  --text-secondary: #c0cac9;
  --text-contrast: #606f6f;

  --bg-primary: #001514;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FC-Bold";
}

/* header{} */

.navbar {
  width: 100%;
  background-color: var(--bg-primary);
  position: relative;
  padding: 1rem;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.link .link-text + .link-text {
  pointer-events: none;
  left: 0;
  top: 0;
}

.link-text {
  position: relative;
  font-size: 1.4rem;
  color: var(--text-secondary);
  text-align: center;
  line-height: 1;
}
