@font-face {
  font-family: "FC-Bold";
  src: url("../assets/fonts/formulacondensedbold.woff2");
}

@font-face {
  font-family: "GTX-Pro";
  src: url("../assets/fonts/nhaasgrotesktxpro.woff2");
}

a {
  text-decoration: none;
}
